[submodule "config/nvim"]
	path = config/nvim
	url = git@github.com:amdlift/kickstart.nvim
	branch = master
[submodule "config/alacritty"]
	path = config/alacritty
	url = git@github.com:amdlift/alacritty.git
	branch = master
[submodule "config/qtile"]
	path = config/qtile
	url = git@github.com:amdlift/qtile.git
	branch = master
